.prettierrc
revision.js
03-DOM/exercises-modified/ex3/*
my-challenges
13-Modern-javascript-devolopment/node_modules
13-Modern-javascript-devolopment/.parcel-cache
13-Modern-javascript-devolopment/dist
14-Forkify-App/node_modules
14-Forkify-App/.parcel-cache
14-Forkify-App/dist