.prettierrc
revision.js
03-DOM/exercises-modified/ex3/*
my-challenges
13-Modern-javascript-devolopment/node_modules
13-Modern-javascript-devolopment/.parcel-cache
13-Modern-javascript-devolopment/dist